*{
    font-family: Roboto;
}

body {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1f2937;
    
    
    
}

#logo {
    padding-left: 30px;
    margin-top: 10px;
    width : 50px; 
    height : auto;


}

#nav-bar {
    display: flex;
    gap: 20px;
    margin-right: 30px
}

.header-section {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;

}

#header-text {
    margin: 40px 
}

#main-img {
    margin: 40px;
}

#btn1 {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

}
h2 {
    text-align: center;
}

.pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 50px;
}

img {
    width: 105px;
    height: auto;
}

#main-img {
    width: 250px;
    height: auto;
}

.image-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

#quote-section {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    
}

#author {
    text-align: right;
    margin-top: -10px;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 30px;
}

.cta-section {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: white;
    margin: 50px;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px;
}

#btn2 {
    border: 2px solid white;
    padding: 5px 20px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: smaller;
}