*{
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1f2937;
    
    
}

#logo {
    margin-left: 30px;

}

#nav-bar {
    display: flex;
    gap: 20px;
    margin-right: 30px
}

.header-section {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;

}

#header-text {
    margin: 40px 
}

#main-img {
    margin: 40px;
}

#btn1 {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

}