.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1f2937;
    
    
}

#logo {

}

#nav-bar {
    display: flex;
    gap: 20px;
}